body, html {
    width: 100%;
    height: 100%;
}

#gameBoard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
    gap: 10px;
    background-color: lightgray;
}

#gamePage {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

